body{
    background-color: black;
    color: white;
}
article{
    background-color:rgb(red, green, blue)44,43,43;
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;
}


.resultado {
    color: yellow;
}
.titulo { text-align: center; font-size: 3rem;}

.ilustracion{
    border: 4px solid; color:#ffffff;
    display: inline;
}

.footer_de_blog {
    margin: 2rem;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none
}